<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>SNHomePageVC</string>
		<key>titleName</key>
		<string>Home</string>
		<key>normalImg</key>
		<string>tabBar_home_normall_img</string>
		<key>selectedImg</key>
		<string>tabBar_home_selected_img</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SNSecondPageVC</string>
		<key>titleName</key>
		<string>Second</string>
		<key>normalImg</key>
		<string>tabBar_second_normall_img</string>
		<key>selectedImg</key>
		<string>tabBar_second_selected_img</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SNMiddlePageVC</string>
		<key>titleName</key>
		<string>Middle</string>
		<key>normalImg</key>
		<string>tabBar_middle_selected_img</string>
		<key>selectedImg</key>
		<string>tabBar_middle_selected_img</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SNFourthPageVC</string>
		<key>titleName</key>
		<string>Fourth</string>
		<key>normalImg</key>
		<string>tabBar_fourth_normall_img</string>
		<key>selectedImg</key>
		<string>tabBar_fourth_selected_img</string>
	</dict>
	<dict>
		<key>className</key>
		<string>SNMinePageVC</string>
		<key>titleName</key>
		<string>Mine</string>
		<key>normalImg</key>
		<string>tabBar_mine_normall_img</string>
		<key>selectedImg</key>
		<string>tabBar_mine_selected_img</string>
	</dict>
</array>
</plist>
